<div class="leftbar leftbar-close clearfix">
   <user-session></user-session>
    <div class="left-nav clearfix">
        <div class="left-primary-nav">
            <ul id="myTab">
                <li class="active"><a href="#main" class="icon-desktop" title="Dashboard"></a></li>
                <li ng-repeat="ml in menuList">
                  <a href="" ng-click="showsubmenu(ml.MenuId)" class="{{ml.LargeIcon}}" title="{{ml.MenuName}}"></a>
                </li>
            </ul>
            
        </div>
        <div class="responsive-leftbar">
            <i class="icon-list"></i>
        </div>
        <div class="left-secondary-nav tab-content" ng-if="isSubmenu">

            <div class="tab-pane" ng-class="isSubmenu ? 'tab-pane active' : 'tab-pane'">
                <h4 class="side-head">{{MenuName}}</h4>
                <ul id="nav" class="accordion-nav">
                    <li ng-repeat="sm in subMenu">
                      <a href="{{sm.Route}}"><i class="icon-list-alt"></i>{{sm.SubMenuName}}</a>
                    </li>
               </ul>
            </div>
        </div>
    </div>
</div>