<div class="nav-collapse">
    <ul class="nav">
        <li class="dropdown" ng-repeat="ml in menuList">
            <a href="" data-toggle="dropdown" ng-click="showsubmenu(ml.MenuId)" class="dropdown-toggle"><i class="icon-th-large"></i>{{ml.MenuName}}<b class="icon-angle-down"></b></a>
            <div class="dropdown-menu" ng-if="isSubmenu">
                <ul>
                    <li ng-repeat="sm in subMenu"><a href="{{sm.Route}}"><i class="icon-list-alt"></i>{{sm.SubMenuName}}</a></li>              
                </ul>
            </div>
        </li>
    </ul>
</div>
